---
# Copy this file to [compose.override.yaml] and comment/uncomment lines
# for the features you want.
#
#   cp compose.override.yaml.example compose.override.yaml
#
# See: https://docs.docker.com/compose/how-tos/multiple-compose-files/merge/
#
# > By default, Compose reads two files, a [compose.yaml] and an optional [compose.override.yaml] file.
# > By convention, the [compose.yaml] contains your base configuration.
# > The override file can contain configuration overrides for existing services or entirely new services.

include:
  - path:
      ################################################################################
      # Pixelfed - [cron] service
      ################################################################################

        # Add the [cron] service to the compose config
      - compose-config/cron/service.yaml

        # Comment to disable setting a static container name for the [web] service
      - compose-config/cron/named.yaml

        # NOTE: Uncomment this for [web] and [worker] services as well
        #       if you use those!
      - compose-config/cron/build.yaml

      ################################################################################
      # Pixelfed - [web] service
      ################################################################################

        # Include the 'web' service in your Compose config
      - compose-config/web/service.yaml

        # Expose the [web] container to the host directly via 'ports:'
      - compose-config/web/expose.yaml

        # Give the [web] container a static container name
      - compose-config/web/named.yaml

        # Allow [docker build] for custom Pixelfed image
        #
        # NOTE: Uncomment this for [cron] and [worker] services as well
        #       if you use those!
      - compose-config/web/build.yaml

      ################################################################################
      # Pixelfed - [worker] service
      ################################################################################

        # Include the [worker] service in your Compose config
      - compose-config/worker/service.yaml

        # Comment to disable setting a static container name for the [web] service
      - compose-config/worker/named.yaml

        # Allow [docker build] for custom Pixelfed image.
        #
        # NOTE: Uncomment this for [cron] and [web] services as well
        #       if you use those!
      - compose-config/worker/build.yaml

      ################################################################################
      # Proxy service (nginx)
      ################################################################################

      # Uncomment to add nginx proxy in front of the [web] container.
      # - compose-config/proxy/service.yaml

      # Uncomment to add nginx acme (LetsEncrypt) support to [proxy] container.
      # - compose-config/proxy/acme.yaml

      ################################################################################
      # Redis service
      ################################################################################

      # Comment to disable the included [redis] service.
      - compose-config/redis/service.yaml

      # Comment to stop exposing the [redis] server to the host directly.
      - compose-config/redis/expose.yaml

      # Make [cron] service depend on healthy [redis] container (via depend_on)
      - compose-config/redis/dependency_cron.yaml

      # Make [web] service depend on healthy [redis] container (via depend_on)
      - compose-config/redis/dependency_web.yaml

      # Make [worker] service depend on healthy [redis] container (via depend_on)
      - compose-config/redis/dependency_worker.yaml

      ################################################################################
      # DB service
      ################################################################################

        # Comment to disable the included [db] service.
      - compose-config/db/service.yaml

        # Make [cron] service depend on healthy [db] container (via depend_on)
      - compose-config/db/dependency_cron.yaml

        # Make [web] service depend on healthy [db] container (via depend_on)
      - compose-config/db/dependency_web.yaml

        # Make [worker] service depend on healthy [db] container (via depend_on)
      - compose-config/db/dependency_worker.yaml

      # Comment to disable setting a static container name for the [db] service
      - compose-config/db/named.yaml

      # Comment to stop exposing the [db] server to the host directly.
      - compose-config/db/expose.yaml

# !
# ! You can also define your own overrides (or even new services!) directly in this file
# !

# services:
#   web:
#     container_name: "my-container-name"
