---
# Copy this file to [compose.yaml] and comment/uncomment lines
# for the features you want.
#
#   cp compose.yaml.example compose.yaml
#
# See: https://docs.docker.com/compose/how-tos/multiple-compose-files/merge/
#
# > By default, Compose reads two files, a [compose.yaml] and an optional [compose.override.yaml] file.
# > By convention, the [compose.yaml] contains your base configuration.
# > The override file can contain configuration overrides for existing services or entirely new services.

include:
  - path:

    ################################################################################
    # Pixelfed - [cron] service
    ################################################################################

      # Add the [cron] service to the compose config
      - compose-config/cron/service.yaml

      # Comment to disable setting a static container name for the [web] service
      - compose-config/cron/named.yaml

      # NOTE: Uncomment this for [web] and [worker] services as well if you use those!
      - compose-config/cron/build.yaml

    ################################################################################
    # Pixelfed - [web] service
    ################################################################################

      # Include the 'web' service in your Compose config
      - compose-config/web/service.yaml

      # Expose the [web] container to the host directly via 'ports:'
      - compose-config/web/expose.yaml

      # Give the [web] container a static container name
      - compose-config/web/named.yaml

      # Enable [docker build] if you build a custom Pixelfed Docker image
      #
      # NOTE: Uncomment this for [cron] and [worker] services as well if you use those!
      - compose-config/web/build.yaml

    ################################################################################
    # Pixelfed - [worker] service
    ################################################################################

      # Use the [worker] service
      - compose-config/worker/service.yaml

      # Comment to disable setting a static container name for the [web] service
      - compose-config/worker/named.yaml

      # Enable [docker build] if you build a custom Pixelfed Docker image
      #
      # NOTE: Uncomment this for [cron] and [web] services as well
      #       if you use those!
      - compose-config/worker/build.yaml

    ################################################################################
    # Proxy service (nginx)
    ################################################################################

      # Use the nginx [proxy] service in front of the [web] container.
      # - compose-config/proxy/service.yaml

      # Uncomment to add nginx acme (LetsEncrypt) support to [proxy] container.
      # - compose-config/proxy/acme.yaml

    ################################################################################
    # Redis service
    ################################################################################

      # Use the included [redis] service.
      - compose-config/redis/service.yaml

      # Expose the [redis] service to the host directly (via 'ports').
      - compose-config/redis/expose.yaml

      # Make the [cron] service depend on a healthy [redis] container (via 'depends_on')
      - compose-config/redis/dependency_cron.yaml

      # Make the [web] service depend on a healthy [redis] container (via 'depends_on')
      - compose-config/redis/dependency_web.yaml

      # Make the [worker] service depend on a healthy [redis] container (via 'depends_on')
      - compose-config/redis/dependency_worker.yaml

    ################################################################################
    # DB service
    ################################################################################

      # Comment to disable the included [db] service.
      - compose-config/db/service.yaml

      # Comment to stop exposing the [db] server to the host directly.
      - compose-config/db/expose.yaml

      # Comment to disable setting a static container name for the [db] service
      - compose-config/db/named.yaml

      # Make the [cron] service depend on a healthy [db] container (via 'depends_on')
      - compose-config/db/dependency_cron.yaml

      # Make the [web] service depend on a healthy [db] container (via 'depends_on')
      - compose-config/db/dependency_web.yaml

      # Make the [worker] service depend on a healthy [db] container (via 'depends_on')
      - compose-config/db/dependency_worker.yaml

# !
# ! You can also define your own overrides (or even new services!) directly in this file
# !

# services:
#   web:
#     container_name: "my-container-name"
