name: Docker Release Changelog

on:
  release:
    types:
      - created

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: "✏️ Generate release changelog"
        uses: heinrichreimer/action-github-changelog-generator@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
