name: Documentation

on:
  # See: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch:

  # See: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#push
  push:
    branches:
      - "*"
      - "**"

jobs:
  deadlinks:
    name: "dead links"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: build container
        run: docker build -t docker-pixelfed-docs -f Dockerfile.docs .

      - name: dist site
        run: docker run --rm -v ${PWD}:/docs docker-pixelfed-docs build

      - name: "Setup NodeJS"
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - run: npm ci

      - name: check for dead links
        run: |
          npx http-server site/ &

          docker run --rm --net=host raviqqe/muffet \
            --color=always \
            -e 'https://cdn\.jsdelivr.net/.*' \
            -e 'https://docs\.pixelfed\.org/.*' \
            -e 'https://fonts\.gstatic\.com' \
            -e 'https://github\.com/nginx-proxy/.*' \
            -e 'https://github\.com/pixelfed/pixelfed/blob/.*' \
            -e 'https://hub\.docker\.com/.*' \
            -e 'https://semver\.org/.*' \
            -e 'https://superuser.com/.*' \
            -e 'https://www\.backblaze\.com/.*' \
            -e 'https://www\.brevo\.com/.*' \
            --header 'Accept-Encoding:deflate, gzip' \
            --buffer-size 8192 \
            http://0.0.0.0:8080/
