name: Documentation Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  deploy:
    name: "Deploy"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: install dottie
        run: |
          echo 'deb [trusted=yes] https://pkg.jippi.dev/apt/ * *' | sudo tee /etc/apt/sources.list.d/dottie.list
          sudo apt update
          sudo apt install dottie

      - name: generate .env docs
        run: dottie template --file .env.docker --with-disabled docs-customization/template/dot-env.template.tmpl > docs/customize/settings.md

      - name: build
        run: docker build -t docker-pixelfed-docs -f Dockerfile.docs .

      - name: change git source
        run: git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: deploy
        run: docker run --rm -e GITHUB_TOKEN -v ${PWD}:/docs docker-pixelfed-docs gh-deploy --force
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
