name: Documentation

on:
  # See: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch:

  # See: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#push
  push:
    branches:
      - "*"
      - "**"

jobs:
  deadlinks:
    name: "dead links"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: generate .env docs
        run: scripts/dottie template --file .env.docker --with-disabled docs-customization/template/dot-env.template.tmpl > docs/customize/settings.md

      - name: build container
        run: docker build -t docker-pixelfed-docs -f Dockerfile.docs .

      - name: dist site
        run: docker run --rm -v ${PWD}:/docs docker-pixelfed-docs build

      - name: "Setup NodeJS"
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          cache-dependency-path: "docker/package-lock.json"

      - run: npm ci

      - name: check for dead links
        run: |
          npx http-server --port 8000 site/ &

          docker run --rm --net=host raviqqe/muffet \
            --verbose \
            --color=always \
            --include 'https://jippi\.github\.io/docker-pixelfed/.*' \
            --include 'http://0\.0\.0\.0:8000/.*' \
            --include 'https://github\.com/jippi/docker-pixelfed/.*' \
            --exclude 'https://github\.com/jippi/docker-pixelfed/raw/main/docs/customize/settings.md' \
            --header 'Accept-Encoding:deflate, gzip' \
            --buffer-size 8192 \
            http://0.0.0.0:8000/
